---
# AWS CCAPI MCP role tasks

- name: Include install manager tasks
  ansible.builtin.include_role:
    name: ansible.mcp_builder.common
    tasks_from: install_manager

- name: Update MCP servers manifest
  ansible.builtin.include_role:
    name: ansible.mcp_builder.common
    tasks_from: generate_manifest

# Needed because the server calls checkov as a subprocess
- name: Create symlink for checkov in system bin directory
  ansible.builtin.file:
    src: "{{ common_mcp_base_path }}/.uv-tools/awslabs-ccapi-mcp-server/bin/checkov"
    dest: "{{ common_system_bin_path }}/checkov"
    state: link
  become: true

- name: Verify AWS Core MCP installation
  ansible.builtin.command:
    cmd: mcp_manage run {{ common_package_name }} --help
  changed_when: false
  register: aws_ccapi_mcp_verify_result

- name: Display failed AWS Core MCP installation
  ansible.builtin.debug:
    msg: "AWS Core MCP is not accessible. Please check the logs for more information."
  when:
    - aws_ccapi_mcp_verify_result is defined
    - aws_ccapi_mcp_verify_result.rc != 0
